/* line 1, home.scss */
body {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("../images/homebg1.png") no-repeat;
  background-size: cover;
  position: relative;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: 'OpenSans', Helvetica Neue, Helvetica, Arial;
  box-sizing: border-box;
}

/* line 19, home.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', Helvetica Neue, Helvetica, Arial;
  box-sizing: border-box;
  font-size: 16px;
}

/* line 27, home.scss */
img {
  width: 100%;
  max-width: 100%;
}

/* line 32, home.scss */
p::selection {
  background: rgba(0, 38, 133, 0.8);
  color: #fff;
}

/* line 37, home.scss */
.txt-container {
  max-width: 650px;
  padding-top: 10%;
  clear: both;
  margin-left: 100px;
  margin-right: 100px;
}
/* line 43, home.scss */
.txt-container p {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}
/* line 48, home.scss */
.txt-container .signature {
  text-align: right;
  position: relative;
  right: 30px;
  top: 20px;
}

/* line 56, home.scss */
.container-opacity {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

/* line 61, home.scss */
header {
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
/* line 68, home.scss */
header #logo {
  width: 200px;
  height: 50px;
  margin: 30px 60px;
  float: left;
  background: url("../images/logo3.png") no-repeat center;
  display: block;
}

/* line 78, home.scss */
.header-navbar {
  float: right;
  padding: 20px;
}
/* line 81, home.scss */
.header-navbar .header-menuIcon {
  width: 40px;
  height: 40px;
  display: hidden;
  background: #4c8fec url("../images/menu-icon.png") center;
}
/* line 86, home.scss */
.header-navbar .header-menuIcon .header-navlink {
  color: #fff;
  text-decoration: none;
}
/* line 89, home.scss */
.header-navbar .header-menuIcon .header-navlink:hover {
  color: #f00;
}
/* line 93, home.scss */
.header-navbar .header-menuIcon .header-navActive {
  color: #f00;
  text-decoration: none;
}

/* line 102, home.scss */
.header-navbar .header-ulList,
.navbar2-ulList .header-ulList {
  list-style-type: none;
}
/* line 106, home.scss */
.header-navbar .header-navList,
.header-navbar .navbar2-navList,
.navbar2-ulList .header-navList,
.navbar2-ulList .navbar2-navList {
  display: inline-block;
  padding: 10px 20px;
}
/* line 110, home.scss */
.header-navbar .header-navlink,
.navbar2-ulList .header-navlink {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
/* line 114, home.scss */
.header-navbar .header-navlink:hover,
.navbar2-ulList .header-navlink:hover {
  color: #424DF6;
  text-decoration: underline #424DF6;
}
/* line 119, home.scss */
.header-navbar .header-navActive,
.navbar2-ulList .header-navActive {
  color: #f00;
  text-decoration: none;
}

/* Media Queries in Mobile and Tablet Responsive*/
@media only screen and (max-width: 780px) {
  /* line 129, home.scss */
  .header-navbar {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  /* line 135, home.scss */
  .txt-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}
